//log entry template
# 👨‍💻 100 Days Of Code - 🪵 Log

## 🗓️ Day 0: January 08, 2023

### **🥵 Today's Progress**

### **😶‍🌫 Thoughts:**

### **🗒️ Side-note**

### **🔗 Links**

// twitter entry template
Daily 📰 Tweet:

Day 7⃣ of #100DaysOfCode & #100DaysOfWeb3 w/ 
@LearnWeb3DAO


 ✅ #reactjs and #nextjs introduction
 ✅ in-depth guide to gas fees, transactions, nodes, miners, pow and pos
 ✅ intro to solidity

#100DaysofCodeLW3

Day 7⃣ Journal Entry: