//log entry template
# 👨‍💻 100 Days Of Code - 🪵 Log

## 🗓️ Day 1: January 09, 2023

### **🥵 Today's Progress**

### **😶‍🌫 Thoughts:**

### **🗒️ Side-note**

### **🔗 Links**


***

[⏮️](000.md) - [⏭️](002.md)

// twitter entry template
Daily 📰 Tweet:

Day 1⃣2⃣ / 1⃣0⃣0⃣

 ✅ #reactjs and #nextjs introduction
 ✅ in-depth guide to gas fees, transactions, nodes, miners, pow and pos
 ✅ intro to solidity

#100DaysofCodeLW3 #100DaysOfCode #100DaysOfWeb3 @LearnWeb3DAO

Journal Entry: 